@import url(./darktheme.css);
.sidebar {
  min-width: 300px;
  flex: 40%;
  border-right: 1px solid #dadada;
  display: flex;
  flex-direction: column;
}

/*  Sidebar Header */

.sidebar__avatar-wrapper {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.sidebar__actions {
  margin-right: 20px;
}

.sidebar__actions > * {
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}

.sidebar__action-icon {
  color: rgb(145, 145, 145);
}

.group_button {
  background-color: #00af9c;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  bottom: 5.5em;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 2;
  border: none;
  cursor: pointer;
  color: white;
}

.group_button .back_pointer {
  transform: rotate(180deg);
}

.group_button_create {
  position: relative;
  top: 5.5em;
}
.imageContainer {
  background-color: #00af9c;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em auto;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  color: white;
}

.imageContainer .file-upload {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.file-upload p {
  text-align: center;
  text-transform: lowercase;
}

input[type="file"] {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.groupDescription {
  width: 90%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid#00af9c;
  display: block;
  margin: 0 auto;
  color: black;
  font-size: 18px;
  /* text-transform: capitalize; */
}
/*start header_sidebar_container*/
/* .header_sidebar_container {
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(0);
  }
} */
/*end header_sidebar_container*/

/* End Sidebar Header */
.header_sidebar {
  background-color: #00bfa5;
  padding: 3em 0em;
  color: #ffff;
}

/*start header_sidebar_content*/
.header_sidebar_content {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.header_sidebar_content .back_pointer {
  cursor: pointer;
}

.header_sidebar_content p {
  margin: 0 2em;
  text-transform: capitalize;
}
/*end header_sidebar_content*/
/*start chat sidebar*/

/*end chat sidebar*/

/*  Sidebar Alert */

.profile_btn {
  position: absolute;
  top: 41%;
  left: 23%;
  color: white;
  background-color: #00bfa5;
  padding: 1em;
  display: block;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s ease-in-out 0s;
}

.profile_btn:hover {
  transform: scale(1.1);
}
.sidebar__alert {
  min-height: 85px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.sidebar__alert--warning {
  background: #fed859;
}

.sidebar__alert--info {
  background: #9de1fe;
}

.sidebar__alert--danger {
  background: #f3645b;
}

.sidebar__alert-icon-wrapper {
  margin-right: 10px;
}

.sidebar__alert-icon {
  color: white;
}

.sidebar__alert-texts {
  flex: 1;
}

.sidebar__alert-text:first-of-type {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #343738;
}

.sidebar__alert-text:last-of-type {
  font-size: 0.85rem;
  color: #414a4e;
  line-height: 17px;
}

.sidebar__alert--danger .sidebar__alert-text:first-of-type,
.sidebar__alert--danger .sidebar__alert-text:last-of-type {
  color: white;
}

/* End Sidebar Alert */

/*  Sidebar Search */

.sidebar__search-wrapper {
  padding: 7px 10px;
  height: 50px;
  background: #f6f6f6;
  position: relative;
}

/* End Sidebar Search */

/*  Sidebar Contact List */

.sidebar__contacts {
  flex: 1;
  overflow-y: scroll;
  background: #f5f5f5;
  border-top: 1px solid #dadada;
}

.sidebar__contacts .chartTabs {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  margin: 0.5em 0 1em 0;
  width: 100%;
}

.chartTabs button {
  padding: 1em;
  transition: 0.3s;
  font-size: 1em;
  flex-grow: 1;
  transition: 0.3s;
}

.active {
  background-color: #00bfa5;
  color: #ffff;
}

.sidebar__contacts .no_chat_notification {
  margin: 0 auto;
  font-size: 0.9em;
  width: 40%;
  position: relative;
  top: 10em;
  color: #323739;
  text-align: center;
}

.sidebar__contacts .contactsNotFound {
  text-align: center;
  padding-top: 2em;
  color: black;
}
.sidebar-contact {
  height: 72px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
}

.sidebar-contact:hover {
  background-color: #ebebeb;
}

.sidebar-contact__avatar-wrapper {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.sidebar-contact__content {
  overflow: hidden;
  flex: 1;
}

.sidebar-contact__top-content,
.sidebar-contact__bottom-content,
.sidebar-contact__message-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-contact__name,
.sidebar-contact__message {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-contact__top-content {
  margin-bottom: 2px;
}

.sidebar-contact__name {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}

.sidebar-contact__time {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.45);
}

.sidebar-contact__message-wrapper {
  color: #00000099;
  font-size: 0.85rem;
  margin-right: 3px;
  overflow: hidden;
}

.sidebar-contact__message-icon {
  color: #b3b3b3;
  margin-right: 3px;
}

.sidebar-contact__message-icon--blue {
  color: #0da9e5;
}

.sidebar-contact__message--unread {
  color: #000000;
  font-weight: 500;
}

.sidebar-contact__icons,
.sidebar-contact:not(:focus) .sidebar-contact__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(24px);
  transition: transform 0.5s ease;
}

.sidebar-contact:hover .sidebar-contact__icons {
  transform: translateX(0);
}

.sidebar-contact__icons > * {
  margin-left: 8px;
  color: #b3b3b3;
}

.sidebar-contact__unread {
  display: inline-block;
  color: white;
  background-color: rgb(6, 215, 85);
  border-radius: 18px;
  min-width: 18px;
  height: 18px;
  padding: 0 3px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

/*  End Sidebar Contact List */

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .sidebar {
    flex: 35%;
  }
  .sidebar ~ div {
    flex: 65%;
  }
}

@media screen and (min-width: 1301px) {
  .sidebar {
    flex: 30%;
  }
  .sidebar ~ div {
    flex: 70%;
  }
}
